<div class="card">
    <div class="card-body">
        <h5 class="titulo">LISTAR TARJETA</h5>
        <table class="table">
            <tbody>
                <tr>
                    <td>Tomas GARCIA</td>
                    <td>23435665765</td>
                    <td>12/03</td>
                    <td><i class="fa-solid fa-edit text-info"></i></td>
                    <td><i class="fa-solid fa-trash text-danger"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>